<form (submit)="onSubmit($event)">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Login Form</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" type="email" [field]="loginForm.email" />
            @if (loginForm.email().touched() && loginForm.email().invalid()) {
            <ul class="error-list">
              @for (error of loginForm.email().errors(); track error) {
              <li>{{ error.message }}</li>
              }
            </ul>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Enter your password</mat-label>
            <input matInput type="password" [field]="loginForm.password" />
            @if (loginForm.password().touched() && loginForm.password().invalid()) {
            <div class="error-list">
              @for (error of loginForm.password().errors(); track error) {
              <p>{{ error.message }}</p>
              }
            </div>
            }
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button matButton="elevated" color="primary" type="submit">Log In</button>
    </mat-card-actions>
  </mat-card>
</form>
